@charset 'utf-8';

/* header 콘텐츠 */
/* header {
    background-color: #fff;
} */

header h1 {
    position: absolute; /*layout.css에서 header는 이미 position 값이 있기 때문에 header가 기준*/
    width: 180px;
    height: 136px;
    background-image: url(../img/logo1.png);/*백그라운드이미지로 넣은 이유? 변경됐을 때 css값을 바꾸기 위해, h1 또 사용X*/
    text-indent: -9999px; /*html의 logo글자는 바깥으로 날려버리기*/
    left: 50%;
    margin-left: -90px; /*와이드의 절반값*/
    top: 70px;
    background-size: contain;
    background-repeat: no-repeat;
}

.gnb {
    position: absolute;
    top: 300px;
    right: 40px; /*반응형도 right*/

}
.gnb li {}
.gnb li a {
    display: block; /*a에게 블럭값 필수*/
    padding: 8px 30px;
    font-size: 17px;
    font-weight: bold;
    text-align: left;
}
.gnb li i {
    margin-right: 15px;
}

.snsSet {
    position: absolute;
    bottom: 50px;
    width: 90px; /*가로길이 꽉채워서 2줄로 만들기*/
    height: 47px;
    right: 50%;
    margin-right: -45px;
}
.snsSet a {
    float:left;
}

/* nav 콘텐츠 */

nav {position: relative;} /*기준설정*/

nav a:nth-child(1) {
    position: absolute;
    left: 10px;
    top: 5px;
}
nav a:nth-child(2) {
    position: absolute;
    left: 150px;/*이미지 가로크기 130px+left떨어진 값10px + 1번과 떨어진 값 10px*/
    top: 5px;
}
nav a:nth-child(3) {
    position: absolute;
    right: 96px;
    top: 5px;
}
nav a:nth-child(4) {
    position: absolute;
    right: 10px;
    top: 5px;
}

/* 미디어쿼리 구간 ///////////////////////*/


/* 2. 480~639 */
@media (min-width:480px) and (max-width:639px) {
    /* header 콘텐츠 */
    header h1 {
        /* position: absolute; 변경될 필요X */
        width: 200px; /*로고의 사이즈*/
        height: 40px;
        background-image: url(../img/logo2.png); /*로고 이미지 가로형으로 변경*/
        /* text-indent삭제 */
        top: 20px;
        left: 20px;
        margin-left: 0;
        /* background-size: contain;
        background-repeat: no-repeat; 변경될 필요X */
    }

    .gnb {
        /* position: absolute; 변경x*/
        top: 20px;/*로고 top20px로 동일하게 맞춤*/
        right: 40px;
    
    }
    .gnb li {
        float: left;
    }
    .gnb li a {
        display: block;
        padding: 8px 10px;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
    
    /* .gnb li i {
        margin-right: 15px;
    } */
    
    .snsSet {
        display: none;
        /* position: absolute; */
        bottom: 20px;
        width: 90px; /*가로길이 꽉채워서 2줄로 만들기*/
        /* height: 47px; */
        right: 40px;
        margin-right: 0px;
    }
}

/* 4. 780~1023 까지 구간 */
@media (min-width:780px) and (max-width:1023px) {
     /* header 콘텐츠 */
     header h1 {
        /* position: absolute; 변경될 필요X */
        width: 200px; /*로고의 사이즈*/
        height: 40px;
        background-image: url(../img/logo2.png); /*로고 이미지 가로형으로 변경*/
        /* text-indent삭제 */
        top: 20px;
        left: 20px;
        margin-left: 0;
        /* background-size: contain;
        background-repeat: no-repeat; 변경될 필요X */
    }

    .gnb {
        /* position: absolute; 변경x*/
        top: 20px;/*로고 top20px로 동일하게 맞춤*/
        right: 40px;
    
    }
    .gnb li {
        float: left;
    }
    .gnb li a {
        display: block;
        padding: 8px 10px;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    }
    
    /* .gnb li i {
        margin-right: 15px;
    } */
    
    .snsSet {
        display: none;
        /* position: absolute; */
        bottom: 20px;
        width: 90px; /*가로길이 꽉채워서 2줄로 만들기*/
        /* height: 47px; */
        right: 40px;
        margin-right: 0px;
    }
}

/* 5. 1024~1279 까지 구간 */
@media(min-width:1024px) and (max-width:1279px) {

    /* header 콘텐츠 */
    header h1 {
        /* position: absolute; 변경될 필요X */
        width: 200px; /*로고의 사이즈*/
        height: 40px;
        background-image: url(../img/logo2.png); /*로고 이미지 가로형으로 변경*/
        /* text-indent삭제 */
        top: 20px;
        left: 20px;
        margin-left: 0;
        /* background-size: contain;
        background-repeat: no-repeat; 변경될 필요X */
    }

    .gnb {
        /* position: absolute; 변경x*/
        top: 20px;/*로고 top20px로 동일하게 맞춤*/
        right: 40px;
    
    }
    .gnb li {
        float: left;
    }
    /* .gnb li a {
        display: block;
        padding: 8px 30px;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    } */
    
    /* .gnb li i {
        margin-right: 15px;
    } */
    
    .snsSet {
        display: none;
        /* position: absolute; */
        bottom: 20px;
        width: 90px; /*가로길이 꽉채워서 2줄로 만들기*/
        /* height: 47px; */
        right: 40px;
        margin-right: 0px;
    }
}

/* 6. 1280~1599 까지 구간 /////////////// */
@media(min-width:1280px) and (max-width:1599px) {
    
    /* header 콘텐츠 */
    header h1 {
        /* position: absolute; 변경될 필요X */
        width: 200px; /*로고의 사이즈*/
        height: 40px;
        background-image: url(../img/logo2.png); /*로고 이미지 가로형으로 변경*/
        /* text-indent삭제 */
        top: 20px;
        left: 20px;
        margin-left: 0;
        /* background-size: contain;
        background-repeat: no-repeat; 변경될 필요X */
    }

    .gnb {
        /* position: absolute; 변경x*/
        top: 20px;/*로고 top20px로 동일하게 맞춤*/
        right: 200px;
    
    }
    .gnb li {
        float: left;
    }
    /* .gnb li a {
        display: block;
        padding: 8px 30px;
        font-size: 17px;
        font-weight: bold;
        text-align: left;
    } */
    
    /* .gnb li i {
        margin-right: 15px;
    } */
    
    .snsSet {
        /* position: absolute; */
        bottom: 20px;
        width: 90px; /*가로길이 꽉채워서 2줄로 만들기*/
        /* height: 47px; */
        right: 40px;
        margin-right: 0px;
    }
    /* .snsSet a {
        float:left;
    } */
}
